.search-filter-container {
    background-color: gray;
}

.search-bar {
    display: flex;
}

.search-bar input{
    padding: 10px;
    width: 40%;
}

.filter {
    display: flex;
}

.filter-options {
    padding: 10px;
}