.purchases {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 60px;
}

.orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 45px;
}

.order {
    background-color: #00b4d8;
    color: white;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    width: 100%;
}

.order p {
    font-weight: 500;
}

.order-link {
    display: flex;
    text-decoration: none;
    color: inherit;
    width: 100%;
}