.product-card {
    height: 350px;
    width: 250px;
    background-color: white;
    border: 2px solid gray;
}

.product-card img {
    height: 250px;
    width: 246px;
}

.product-name {
    font-weight: 600;
    margin: 0px;
    padding: 5px 0px 5px 10px;
}

.product-price {
    margin: 0px;
    padding: 5px 0px 5px 10px;
}

.product-link {
    text-decoration: none;
    color: inherit;
}

.product-buttons {
    display: flex;
    justify-content: right;
    margin-left: 5px;
}

.product-buttons i {
    width: 25px;
    height: 25px;
    border: solid 2px #00b4d8;
    color: #00b4d8;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.product-buttons button {
    outline: none;
    border: none;
    background: transparent;
    padding: 5px;
}

.product-buttons i:hover {
    background-color: #00b4d8;
    color: white;
}
